@model EasyProduct.Models.GroupModel
@{
    ViewData["Title"] = "Home";
}

@await Html.PartialAsync("Modals/Product")
@await Html.PartialAsync("OffCanvas/Cart")


@functions {
    Dictionary<int, string> productTypeNames = new Dictionary<int, string>()
{
{ 1, "Hamburgers" },
{ 2, "Drinks" },
{ 3, "accompaniments" },
{ 4, "dessert" },
{ 5, "Toys" },
{ 9, "Others" }
};
    string GetProductTypeTitle(int productType)
    {
        if (productTypeNames.ContainsKey(productType))
        { return productTypeNames[productType]; }
        return string.Empty;
    }
}
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- Button offCanvas -->
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
        aria-controls="staticBackdrop">
        <i class="bi bi-cart"></i>
    </button>
</div>

<!-- Products List -->
<section class="mb-5">
    @if (Model != null && Model.Products.Any())
    {
        var groupedProducts = Model.Products.GroupBy(p => p.Type);
        foreach (var group in groupedProducts)
        {
            string productTypeTitle = GetProductTypeTitle(group.Key);
            if (!string.IsNullOrEmpty(productTypeTitle))
            {
                <div class="mb-5">
                    <h4>@productTypeTitle</h4>
                    <div class="row row-cols-1 row-cols-md-5 g-4">
                        @foreach (var product in group)
                        {
                            <div class="col">
                                <div class="card" data-bs-toggle="modal" data-bs-target="#productModal_@product.Id">
                                    <div class="badge">Hot </div>

                                    <div class="card-img-container">
                                        <img src="@product.ImageURL" class="card-img" alt="...">
                                    </div>  

                                    <div class="product-details">
                                        <h6 class="card-title text">@product.Name</h6>
                                        <div class="product-bottom-details">
                                            <div class="product-price"><small>$96.00</small>$@product.Price</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/HomeIndex.js"></script>