@model EasyProduct.Models.ProductsModel

@{
    ViewData["Title"] = "Manager";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Manager" asp-action="Add" method="post">

    <!--Group Product-->
    <div class="row">
        <!--Nome-->
        <div class="mb-3 col">
            <label class="form-label">Name</label>
            <input asp-for="Name" class="form-control" id="" placeholder="Enter the name of product to add">
        </div>

        <!--Type-->
        <div class="mb-3 col">
            <label class="form-label">Type</label>
            <select class="form-select" asp-for="Type">
                <option selected>Select type of product</option>
                <option value="1">hamburgers</option>
                <option value="2">Drinks</option>
                <option value="3">Follow-up</option>
                <option value="4">Dessert</option>
                <option value="5">Toys</option>
                <option value="6">Others</option>
            </select>
        </div>
    </div>


    <!--Ingredients-->
    <div class="mb-3">
        <label class="form-label">Ingredients</label>
        <input asp-for="Ingredients" class="form-control" id=""
            placeholder="Enter the ingredients of the product to be added, separating them with a comma ' , '">
    </div>

    <!--Description-->
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="" rows="3"
            placeholder="Enter the summary description of product to add"></textarea>
    </div>

    <!--Group Price-->
    <div class="row"> 
        <label for="" class="form-label">Price</label>
        <!--Price-->
        <div class="input-group mb-3 col">
            <span class="input-group-text">$</span>
            <input asp-for="Price" type="text" class="form-control" placeholder ="Enter to price of product">
        </div>

        <!--PricePromotion-->
        <div class="input-group mb-3 col">
            <span class="input-group-text">$</span>
            <input asp-for= "PromotionPrice" type="text" class="form-control" placeholder ="Enter to price promotion">
        </div>

        <!--PromotionDay-->
        <div class="mb-3 col">
            <select asp-for="DayPromotion" class="form-select">
                <option selected>Select promotion day of product</option>
                <option value="1">Sunday</option>
                <option value="2">Monday</option>
                <option value="3">Tuesday</option>
                <option value="4">Wednesday</option>
                <option value="5">Thursday</option>
                <option value="6">Friday</option>
                <option value="7">Saturday</option>
            </select>
        </div>

    </div>


    <!--Image-->
    <div class="mb-3">
        <label class="form-label">Image URL</label>
        <input asp-for="ImageURL" class="form-control" id="" placeholder="Enter the URL of image to product to add">
    </div>

    <button class="btn btn-primary" type="submit">Add</button>

</form>